<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxl.springbootstart.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.zxl.springbootstart.domain.Book">
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="auther" column="auther" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        name,auther,price
    </sql>
</mapper>
